{% load static %}
{% block css %}
<html lang="en">
<head>
	<title>Contact V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'analyze/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"  href="{% static 'analyze/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" 	href="{% static 'analyze/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'analyze/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'analyze/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'analyze/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'analyze/css2/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'analyze/css2/main.css' %}">
<!--===============================================================================================-->









</head>
{% endblock %}
{% block body %}
<body>

	<div class="bg-contact3" style="background-image: url('{% static 'analyze/images/bg-01.jpg' %}');">
		<div class="container-contact3">
			<div class="wrap-contact3">
				<form action="{% url 'analyze:symptoms' send %}" method="POST" name="symptoms">
					{% csrf_token %}

					<span class="contact3-form-title">
						Enter Symptoms Value
					</span>


					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="age" placeholder="Age value">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input3" type="text" name="memory" placeholder="Memory Loss">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="interpretation" placeholder="Difficulty in Interpretation">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="muffled" placeholder="Muffled Speech">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="behaviour" placeholder="Behavioural changes">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="visual" placeholder="Visual Hallucination">
						<span class="focus-input3"></span>
					</div>



					<div class="container-contact3-form-btn">

						    <input type="submit" id="myBtn" value="Submit" class="contact3-form-btn"/>

					</div>
				</form>
			</div>
		</div>
	</div>


<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
{% endblock %}